# {{ ansible_managed }}

[Unit]
Description=Backup of the {{ sqlite_backup_b2_prefix }} database
After=network-online.target

[Service]
Type=oneshot
Environment=B2_APPLICATION_KEY_ID={{ sqlite_backup_b2_keyId }}
Environment=B2_APPLICATION_KEY={{ sqlite_backup_b2_applicationKey }}
ExecStart={{ sqlite_backup_b2_script_path }}
User={{ sqlite_backup_b2_runtime_user }}
Group={{ sqlite_backup_b2_runtime_group }}

[Install]
WantedBy=default.target
